form{
  background-color: white;
  text-align: center;
  margin: 12px 0 30px;
  padding: 12px 60px 12px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(85, 85, 85, 0.16);
  width: 100%;
  .form-group{
    input, select{
      display: block;
      width: 100%;
      padding: 16px 19px 16px 10px;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      font-style: italic;
      color: #a3a3a3;
      border-radius: 3px;
      transition: .3s ease-in-out;
      background-color: #fafafa;
      border: none;
      outline: none;
      &::placeholder{
        color: #a3a3a3;

      }
    }
    &:not(:last-child){
      margin-bottom: 25px;
    }
  }
  .main-title{
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
  }
}